	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		background color: #fff;
		color: #555;
		font-family: 'Lato','Arial',sans-serif;
		font-weight: 300;
		font-size: 24px;
		text-rendering: optimizeLegibility;
	}
	.row{
		max-width: 1140px;
		margin: 0 auto;
	}
	section{
		padding: 80px 0;
	}
	.box{
		padding: 1%;
	}
	header {
		background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image/hero.jpg);
		background-size: cover;
		background-position: center; 
		height: 100vh;
		}
		.hero-text{
				position: absolute;
				width: 1140px;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
	}
	h1,h2,h3 {
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px
		}
		h1{
			margin-top: 0;
			margin-bottom: 20px;
			color: #fff;
			font-size: 240%;
			word-spacing: 4px;
		}
		h2{
			font-size: 180%;
			word-spacing: 1px;
			text-align: center;
			margin-bottom: 30px;
			letter-spacing: 1px;
		}
		h3{
			font-size: 110%;
			margin-bottom: 15px;
		}
		h2:after{
			display: block;
			height: 2px;
			background-color: #e67e22;
			content: " ";
			width: 100px;
			margin: 0 auto;
			margin-top: 30px;
		}
		.long-copy{
			line-height: 145%;
			width: 70%;
			margin-left: 15%;
		}
		.box p{ font-size: 90%;
				line-height: 145%;
				 }
		.icon-big{
			font-size: 200%;
			display: block;
			color: #e67e22;
			margin-bottom: 10px;
		}
		.icon-small{
			  display: inline-block;
			    width: 25px;
			    text-align: center;
			    color: #e67e22;
			    font-size: 120%;
			    margin-right: 10px;
			    
			    /*secrets to align text and icons*/
			    line-height: 120%;
			    vertical-align: middle;
			    margin-top: -5px;
}
		
		/*link*/

		a:link,
		a:visited{
			color: #e67e22;
			text-decoration: none;
			padding-bottom: 1px;
			border-bottom: 1px solid #e67e22;
			transition: border-bottom 0.2s, color 0,2s;
		}
		a:hover,
		a:active{
			color: #555;
			border-bottom: 1px solid transparent;
		}
		/*button*/ 

		.btn:link,
		.btn:visited{
			display: inline-block;
			padding: 10px 30px;
			font-weight: 300;
			text-decoration: none; 
			border-radius: 200px;
			transition: background-color 0.2s, border 0.2s, color 0.2s;
			}
		/*orange color #e67e22*/
		.btn-full:link,
		.btn-full:visited
		{
			background-color: #e67e22;
			border: 1px solid #e67e22;
			color: #fff;
			margin-right: 15px;
		}
			.btn-ghost: link,
			.btn-ghost: visited{
				border: 1px solid #e67e22;
				color: #e67e22;
			}
			.btn:hover,
			.btn:active{
				background-color: #cf6d17;

			}
			.btn-full :hover,
			.btn-full :active{
			border: 1px solid #cf6d17;
		}
			.btn-ghost: hover,
			.btn-ghost: visited{
			border: 1px solid #cf6d17;
			color: #fff;
		}
		.logo{
			height: 100px;
			width: auto;
			float: left;
		}
		.nav {
			float: right;
			list-style: none;
		}
		.nav li {
			display: inline-block;
			margin-left: 40px;
			margin-top: 40px;
		}
		.nav li a:link,
		.nav li a:visited{
			color: #fff;
			padding: 8px 0;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 80%;
			border-bottom: 2px solid transparent;
			transition: border-bottom 0.2s;
		}
		.nav li a:active,
		.nav li a:hover{
			border-bottom: 2px solid #e67e22;
		}	
		.section-features .long-copy{margin-bottom: 30px;}
			/*meals*/

		.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}
	/*how it works*/
	.section-steps {
    background-color: #f4f4f4;
}
	
	.steps-box:first-child{
		text-align: right;
		padding-right: 3%;
		margin-top: 30px;
	}
	.steps-box:last-child{
		padding-left: 3%;
		margin-top: 70px;
	}
	.app-screen{
		width: 40%;
	}
	.work-step{
		margin-bottom: 50px;
	}
	.work-step:last-of-type{
		margin-bottom: 80px;
	}
	.work-step div{
	 color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
	}
	.btn-app:link,
	.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}
/*cities*/
 .box img{
 	width: 100%;
 	height: auto;
 	margin-right: 10px;
 }
 .city-features{
 	margin-bottom: 5px;
 }
 /*testimonials*/
 .section-testimonials{
 	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(image/back-customers.jpg);
 	background-size: cover;
 	color: #fff;
 	background-attachment: fixed;
 }
 
 blockquote{
 	padding: 2%;
 	font-style: italic;
 	line-height:145%;
 	position: relative;
 	margin-top: 40px;
 } 
 blockquote:before {
 	content: "\201C";
 	font-size: 400%;
 	display: block;
 	position: absolute;
 	top: -5px;
 	left: -5px;
 }

 cite{
 	font-size: 90%;
 	margin-top: 25px;
 	display: block;
 	margin-top: 40px;
 }
 cite img{
 	height: 45px;
 	border-radius: 50%;
 	margin-right: 10px;
 	vertical-align: middle;
 }
 /*sign up*/
 .section-plans{
		background-color: #f4f4f4;
 }
 .plan-box{
 	background-color: #fff;
 	border-radius: 5px;
 	width: 100%;
 	margin-left: 5%;
 }
 .plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

	.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	    }

	    .plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price-meal {
		 font-size: 80%;

}
.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}
/*Form*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}
/*footer*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

 